---
---

<style>
  a.sponsor-btn {
    /* reset */
    text-decoration: none;

    /* layout */
    height: 32px;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 4px;
    cursor: pointer;

    /* style */
    background-color: #21262d; 
    color: #c9d1d9; 
    font-weight: 500;
  }
  a > .sponsor-btn__icon {
    /* icon styles */
    color: #db61a2;
    font-weight: 600;
  }
</style>

<a href="https://github.com/sponsors/cpvalente/" target="_blank" class="sponsor-btn">
  <span class="sponsor-btn__icon">♡</span>Github sponsor
</button>
